

body{
  display: flex;
  color:#feda4a;
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 100%;
  background-color: black;
}
.title{
}
.search-section{
}
.format-label{

}
#photo-explanation{
  color:#feda4a;
}