

body{
  display: grid;
grid-template-columns:40px 50px auto 50px 40px ;
grid-template-rows:25% 100px auto ;



  color:#feda4a;
  background-repeat: no-repeat;
  background-size:cover;
  background-color:#2D2D2A;
}
#title{
grid-column-start: 3;
}
#search-section{
  grid-column-start: 3;
  grid-row-start: 4;

}

#photo-explanation{
  color:#feda4a;
}
ul{
  display: inline;
}