.title{
  flex-direction: row;
  margin: 0 auto;
  align-self: center;
}
.search-section{
  align-self: center;
}

body{
  display: flex;
  justify-content: space-between;
align-content: center;
  color:#feda4a;
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 100%;
  background-color: black;
}
.format-label{

}
#photo-explanation{
  color:#feda4a;
}